/* COIN LITHIUM PAGES */
.bc-child {
  padding-left: 15px;
}

.coin-lithium-page.row {
  padding-right: 0;
  width: 1055px !important;
}
@media (max-width: 1050px) {
  .coin-lithium-page.row {
    width: 90% !important;
  }
}
.coin-lithium-page.row img.alignright {
  display: block !important;
}
@media (max-width: 1050px) {
  .coin-lithium-page.row img.alignright {
    width: 100% !important;
    margin-bottom: 15px;
  }
}
.coin-lithium-page.row .emergency {
  background: #dc291e;
  width: 130px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  float: right;
  margin: 30px 0;
}
@media (max-width: 1050px) {
  .coin-lithium-page.row .emergency {
    margin: 20px auto;
    float: none;
  }
}
.coin-lithium-page.row .emergency h3 {
  display: inline-block;
  font-size: 22px;
  padding: 0 !important;
  margin: 0 0 10px !important;
}
.coin-lithium-page.row .emergency h3 span {
  font-size: 11px;
  font-weight: normal;
  display: inline-block;
  width: 100%;
}
.coin-lithium-page.row .emergency.nomargin {
  margin-top: 10px;
}
.coin-lithium-page.row .col_3_4.bigmargin, .coin-lithium-page.row .col_1_4.bigmargin, .coin-lithium-page.row .col_1_3.bigmargin, .coin-lithium-page.row .col_2_3.bigmargin {
  margin: 30px 0;
}
@media (max-width: 1050px) {
  .coin-lithium-page.row .col_3_4, .coin-lithium-page.row .col_1_4, .coin-lithium-page.row .col_1_3, .coin-lithium-page.row .col_2_3 {
    width: 100% !important;
    padding: 0 2%;
  }
}
.coin-lithium-page.row .red {
  color: #dc291e;
}
.coin-lithium-page.row .sidecolumn {
  padding-left: 17px;
}
.coin-lithium-page.row .sidecolumn li {
  margin: 4px 0;
}
.coin-lithium-page.row h3 + h4 {
  margin-top: 0;
}
.coin-lithium-page.row .boldedul {
  padding-left: 0;
  list-style: none;
  margin-top: 30px;
  font-weight: bold;
}
.coin-lithium-page.row .boldedul li:first-of-type {
  text-transform: uppercase;
}
.coin-lithium-page.row .boldedul li {
  margin: 7px 0;
}
.coin-lithium-page.row .nopad {
  padding: 0 !important;
  margin: 0 !important;
}
.coin-lithium-page.row .nopad ~ h4 {
  padding-bottom: 0;
  margin-bottom: 0 !important;
}

.halfwide {
  width: 40%;
  margin-left: 8%;
}

.learn-facts ul {
  margin-bottom: 50px;
}

.box-gray + .col_1_2 {
  padding-left: 0 !important;
}

.box-gray {
  background: #ebebeb;
  padding: 10px 15px;
  border-radius: 4px;
  margin: 30px 0;
}
.box-gray.nomargin {
  margin-top: 0;
}
.box-gray.nomargin h3 {
  margin-top: 5px;
  padding-top: 0;
}

p.fleft {
  float: left;
  font-size: 12px;
}

a.graylink {
  color: #000 !important;
}

.flare-box {
  background: #000 url(/images/default-source/responsibility/coin-lithium/flare.png) no-repeat;
  background-position: 1px top;
  background-size: cover;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
}
.flare-box.maxw {
  max-width: 300px;
}
@media (max-width: 1050px) {
  .flare-box {
    margin: 20px auto;
    background-size: 150%;
    background-position: top left;
  }
}
.flare-box a, .flare-box p {
  display: block;
  color: #fff;
  padding: 0;
  margin: 2px 0;
  font-size: 15px;
}
.flare-box h5 {
  margin: 0;
  padding: 0;
}

.fullwidth-video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.fullwidth-video iframe, .fullwidth-video object, .fullwidth-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.fullwidth-video iframe .fullwidth-video img, .fullwidth-video object .fullwidth-video img, .fullwidth-video embed .fullwidth-video img {
  width: 100%;
}

.fullwidth {
  width: 100%;
}
ul.breadcrumbs li ul li{width:125%;}
/* END COIN LITHIUM PAGES */
.videowrapperpadding {
    padding-bottom: 52.25%;
}
.ancheroffset{
    padding-top: 47px;
    margin-top: -47px;
	color: #000;
}
.flareboxinline{display: inline !important;}