.newimg{background: #fff url(../images/New_Corner_Banner.png) no-repeat top left;}
.red-accordion-toggle {background: #dc291e url(../images/Headlights_Accordion_RED_2.png) no-repeat right !important; background-size: cover !important;}
.red-accordion-toggle:after {color: #dc291e !important; }
.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    /*padding-top: 25px;*/
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.showcase-thumbnail-video img{width: 100% !important; margin-top:0px !important;}
.showcase-thumbnail a{
    position: relative;
}

.showcase-thumbnail-video:before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    -webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    background: rgba(0,0,0,.8);
    border-radius: 4px;
    z-index: 10;
}

.showcase-thumbnail-video:after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
	-webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 0; 
    height: 0; 
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid white;
    z-index: 20;
}
