.showcase-thumbnail.showcase-thumbnail-video {
    width: 120px !important;
}
.showcase-thumbnail:before, .showcase-thumbnail:after {
    display: none;
}
.showcase-thumnbail img {
    width: auto !important;
    max-width: 65px;
}
div#showcase-thumbnail-0 {
    width: 65px;
}
.showcase-thumbnail-container {
    margin-top: 20px;
}
