@media (max-width: 1030px) and (min-width: 600px) {
.product-family-container .col_1_4 a {
	float: left;
	width: 50%;
	text-align: center;
}
.product-family-container .col_1_4 a img {
	float: none;
}
}
@media (max-width: 550px) {
  .lighting-landing [class*='col_'] {padding: 0;} }

 /* slider actions */
.tablet-promo .lSAction{
	width: 63px;
	margin: -10px auto 0;
	z-index: 99999;
	position: relative;
}
.tablet-promo .lSAction > a {
    width: 25px;
    display: block;
    top: auto;
    height: 24px;
    /*background-image: url('../img/ls.png');*/
    cursor: pointer;
    position: static;
    z-index: 9999;
    margin-top: -16px;
    opacity: 1;
    background-position: 0 0 !important;
    -webkit-transition: opacity 0.35s linear 0s;
    transition: opacity 0.35s linear 0s;
}
.tablet-promo .lSAction > a:hover {
    opacity: 1;
}
.tablet-promo .lSAction > .lSPrev {
    background-image: url('/images/default-source/ui-elements/lsprev.png');
    float: left;
    left: auto;
}
.tablet-promo .lSAction > .lSNext {
    background-image: url('/images/default-source/ui-elements/lsnext.png');
    right: auto;
    float: right;
} 