* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body, html {
	font-size: 16px;
}
.eng-abt-pgs img {
  vertical-align: middle;
  border: 0;
  width:100%;		
}

.eng-abt-pgs h1 {
	font-size: 2em;
}
.eng-abt-pgs h3 {
	font-size: 1.17em;
}
.eng-abt-pgs h4 {
	font-size: 1em;
}

.eng-abt-pgs-img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.eng-abt-pgs-img-rounded {
  border-radius: 6px;
}
.eng-abt-pgs-img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.eng-abt-pgs-img-circle {
  border-radius: 50%;
}

.eng-abt-pgs-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .eng-abt-pgs-container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .eng-abt-pgs-container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .eng-abt-pgs-container {
    width: 1170px;
  }
}
.eng-abt-pgs-container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.eng-abt-pgs-row {
  margin-left: -15px;
  margin-right: -15px;
}
.eng-abt-pgs-col-xs-1, .eng-abt-pgs-col-sm-1, .eng-abt-pgs-col-md-1, .eng-abt-pgs-col-lg-1, .eng-abt-pgs-col-xs-2, .eng-abt-pgs-col-sm-2, .eng-abt-pgs-col-md-2, .eng-abt-pgs-col-lg-2, .eng-abt-pgs-col-xs-3, .eng-abt-pgs-col-sm-3, .eng-abt-pgs-col-md-3, .eng-abt-pgs-col-lg-3, .eng-abt-pgs-col-xs-4, .eng-abt-pgs-col-sm-4, .eng-abt-pgs-col-md-4, .eng-abt-pgs-col-lg-4, .eng-abt-pgs-col-xs-5, .eng-abt-pgs-col-sm-5, .eng-abt-pgs-col-md-5, .eng-abt-pgs-col-lg-5, .eng-abt-pgs-col-xs-6, .eng-abt-pgs-col-sm-6, .eng-abt-pgs-col-md-6, .eng-abt-pgs-col-lg-6, .eng-abt-pgs-col-xs-7, .eng-abt-pgs-col-sm-7, .eng-abt-pgs-col-md-7, .eng-abt-pgs-col-lg-7, .eng-abt-pgs-col-xs-8, .eng-abt-pgs-col-sm-8, .eng-abt-pgs-col-md-8, .eng-abt-pgs-col-lg-8, .eng-abt-pgs-col-xs-9, .eng-abt-pgs-col-sm-9, .eng-abt-pgs-col-md-9, .eng-abt-pgs-col-lg-9, .eng-abt-pgs-col-xs-10, .eng-abt-pgs-col-sm-10, .eng-abt-pgs-col-md-10, .eng-abt-pgs-col-lg-10, .eng-abt-pgs-col-xs-11, .eng-abt-pgs-col-sm-11, .eng-abt-pgs-col-md-11, .eng-abt-pgs-col-lg-11, .eng-abt-pgs-col-xs-12, .eng-abt-pgs-col-sm-12, .eng-abt-pgs-col-md-12, .eng-abt-pgs-col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.eng-abt-pgs-col-xs-1, .eng-abt-pgs-col-xs-2, .eng-abt-pgs-col-xs-3, .eng-abt-pgs-col-xs-4, .eng-abt-pgs-col-xs-5, .eng-abt-pgs-col-xs-6, .eng-abt-pgs-col-xs-7, .eng-abt-pgs-col-xs-8, .eng-abt-pgs-col-xs-9, .eng-abt-pgs-col-xs-10, .eng-abt-pgs-col-xs-11, .eng-abt-pgs-col-xs-12 {
  float: left;
}
.eng-abt-pgs-col-xs-12 {
  width: 100%;
}
.eng-abt-pgs-col-xs-11 {
  width: 91.66666667%;
}
.eng-abt-pgs-col-xs-10 {
  width: 83.33333333%;
}
.eng-abt-pgs-col-xs-9 {
  width: 75%;
}
.eng-abt-pgs-col-xs-8 {
  width: 66.66666667%;
}
.eng-abt-pgs-col-xs-7 {
  width: 58.33333333%;
}
.eng-abt-pgs-col-xs-6 {
  width: 50%;
}
.eng-abt-pgs-col-xs-5 {
  width: 41.66666667%;
}
.eng-abt-pgs-col-xs-4 {
  width: 33.33333333%;
}
.eng-abt-pgs-col-xs-3 {
  width: 25%;
}
.eng-abt-pgs-col-xs-2 {
  width: 16.66666667%;
}
.eng-abt-pgs-col-xs-1 {
  width: 8.33333333%;
}
.eng-abt-pgs-col-xs-pull-12 {
  right: 100%;
}
.eng-abt-pgs-col-xs-pull-11 {
  right: 91.66666667%;
}
.eng-abt-pgs-col-xs-pull-10 {
  right: 83.33333333%;
}
.eng-abt-pgs-col-xs-pull-9 {
  right: 75%;
}
.eng-abt-pgs-col-xs-pull-8 {
  right: 66.66666667%;
}
.eng-abt-pgs-col-xs-pull-7 {
  right: 58.33333333%;
}
.eng-abt-pgs-col-xs-pull-6 {
  right: 50%;
}
.eng-abt-pgs-col-xs-pull-5 {
  right: 41.66666667%;
}
.eng-abt-pgs-col-xs-pull-4 {
  right: 33.33333333%;
}
.eng-abt-pgs-col-xs-pull-3 {
  right: 25%;
}
.eng-abt-pgs-col-xs-pull-2 {
  right: 16.66666667%;
}
.eng-abt-pgs-col-xs-pull-1 {
  right: 8.33333333%;
}
.eng-abt-pgs-col-xs-pull-0 {
  right: auto;
}
.eng-abt-pgs-col-xs-push-12 {
  left: 100%;
}
.eng-abt-pgs-col-xs-push-11 {
  left: 91.66666667%;
}
.eng-abt-pgs-col-xs-push-10 {
  left: 83.33333333%;
}
.eng-abt-pgs-col-xs-push-9 {
  left: 75%;
}
.eng-abt-pgs-col-xs-push-8 {
  left: 66.66666667%;
}
.eng-abt-pgs-col-xs-push-7 {
  left: 58.33333333%;
}
.eng-abt-pgs-col-xs-push-6 {
  left: 50%;
}
.eng-abt-pgs-col-xs-push-5 {
  left: 41.66666667%;
}
.eng-abt-pgs-col-xs-push-4 {
  left: 33.33333333%;
}
.eng-abt-pgs-col-xs-push-3 {
  left: 25%;
}
.eng-abt-pgs-col-xs-push-2 {
  left: 16.66666667%;
}
.eng-abt-pgs-col-xs-push-1 {
  left: 8.33333333%;
}
.eng-abt-pgs-col-xs-push-0 {
  left: auto;
}
.eng-abt-pgs-col-xs-offset-12 {
  margin-left: 100%;
}
.eng-abt-pgs-col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.eng-abt-pgs-col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.eng-abt-pgs-col-xs-offset-9 {
  margin-left: 75%;
}
.eng-abt-pgs-col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.eng-abt-pgs-col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.eng-abt-pgs-col-xs-offset-6 {
  margin-left: 50%;
}
.eng-abt-pgs-col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.eng-abt-pgs-col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.eng-abt-pgs-col-xs-offset-3 {
  margin-left: 25%;
}
.eng-abt-pgs-col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.eng-abt-pgs-col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.eng-abt-pgs-col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .eng-abt-pgs-col-sm-1, .eng-abt-pgs-col-sm-2, .eng-abt-pgs-col-sm-3, .eng-abt-pgs-col-sm-4, .eng-abt-pgs-col-sm-5, .eng-abt-pgs-col-sm-6, .eng-abt-pgs-col-sm-7, .eng-abt-pgs-col-sm-8, .eng-abt-pgs-col-sm-9, .eng-abt-pgs-col-sm-10, .eng-abt-pgs-col-sm-11, .eng-abt-pgs-col-sm-12 {
    float: left;
  }
  .eng-abt-pgs-col-sm-12 {
    width: 100%;
  }
  .eng-abt-pgs-col-sm-11 {
    width: 91.66666667%;
  }
  .eng-abt-pgs-col-sm-10 {
    width: 83.33333333%;
  }
  .eng-abt-pgs-col-sm-9 {
    width: 75%;
  }
  .eng-abt-pgs-col-sm-8 {
    width: 66.66666667%;
  }
  .eng-abt-pgs-col-sm-7 {
    width: 58.33333333%;
  }
  .eng-abt-pgs-col-sm-6 {
    width: 50%;
  }
  .eng-abt-pgs-col-sm-5 {
    width: 41.66666667%;
  }
  .eng-abt-pgs-col-sm-4 {
    width: 33.33333333%;
  }
  .eng-abt-pgs-col-sm-3 {
    width: 25%;
  }
  .eng-abt-pgs-col-sm-2 {
    width: 16.66666667%;
  }
  .eng-abt-pgs-col-sm-1 {
    width: 8.33333333%;
  }
  .eng-abt-pgs-col-sm-pull-12 {
    right: 100%;
  }
  .eng-abt-pgs-col-sm-pull-11 {
    right: 91.66666667%;
  }
  .eng-abt-pgs-col-sm-pull-10 {
    right: 83.33333333%;
  }
  .eng-abt-pgs-col-sm-pull-9 {
    right: 75%;
  }
  .eng-abt-pgs-col-sm-pull-8 {
    right: 66.66666667%;
  }
  .eng-abt-pgs-col-sm-pull-7 {
    right: 58.33333333%;
  }
  .eng-abt-pgs-col-sm-pull-6 {
    right: 50%;
  }
  .eng-abt-pgs-col-sm-pull-5 {
    right: 41.66666667%;
  }
  .eng-abt-pgs-col-sm-pull-4 {
    right: 33.33333333%;
  }
  .eng-abt-pgs-col-sm-pull-3 {
    right: 25%;
  }
  .eng-abt-pgs-col-sm-pull-2 {
    right: 16.66666667%;
  }
  .eng-abt-pgs-col-sm-pull-1 {
    right: 8.33333333%;
  }
  .eng-abt-pgs-col-sm-pull-0 {
    right: auto;
  }
  .eng-abt-pgs-col-sm-push-12 {
    left: 100%;
  }
  .eng-abt-pgs-col-sm-push-11 {
    left: 91.66666667%;
  }
  .eng-abt-pgs-col-sm-push-10 {
    left: 83.33333333%;
  }
  .eng-abt-pgs-col-sm-push-9 {
    left: 75%;
  }
  .eng-abt-pgs-col-sm-push-8 {
    left: 66.66666667%;
  }
  .eng-abt-pgs-col-sm-push-7 {
    left: 58.33333333%;
  }
  .eng-abt-pgs-col-sm-push-6 {
    left: 50%;
  }
  .eng-abt-pgs-col-sm-push-5 {
    left: 41.66666667%;
  }
  .eng-abt-pgs-col-sm-push-4 {
    left: 33.33333333%;
  }
  .eng-abt-pgs-col-sm-push-3 {
    left: 25%;
  }
  .eng-abt-pgs-col-sm-push-2 {
    left: 16.66666667%;
  }
  .eng-abt-pgs-col-sm-push-1 {
    left: 8.33333333%;
  }
  .eng-abt-pgs-col-sm-push-0 {
    left: auto;
  }
  .eng-abt-pgs-col-sm-offset-12 {
    margin-left: 100%;
  }
  .eng-abt-pgs-col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .eng-abt-pgs-col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .eng-abt-pgs-col-sm-offset-9 {
    margin-left: 75%;
  }
  .eng-abt-pgs-col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .eng-abt-pgs-col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .eng-abt-pgs-col-sm-offset-6 {
    margin-left: 50%;
  }
  .eng-abt-pgs-col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .eng-abt-pgs-col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .eng-abt-pgs-col-sm-offset-3 {
    margin-left: 25%;
  }
  .eng-abt-pgs-col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .eng-abt-pgs-col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .eng-abt-pgs-col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .eng-abt-pgs-col-md-1, .eng-abt-pgs-col-md-2, .eng-abt-pgs-col-md-3, .eng-abt-pgs-col-md-4, .eng-abt-pgs-col-md-5, .eng-abt-pgs-col-md-6, .eng-abt-pgs-col-md-7, .eng-abt-pgs-col-md-8, .eng-abt-pgs-col-md-9, .eng-abt-pgs-col-md-10, .eng-abt-pgs-col-md-11, .eng-abt-pgs-col-md-12 {
    float: left;
  }
  .eng-abt-pgs-col-md-12 {
    width: 100%;
  }
  .eng-abt-pgs-col-md-11 {
    width: 91.66666667%;
  }
  .eng-abt-pgs-col-md-10 {
    width: 83.33333333%;
  }
  .eng-abt-pgs-col-md-9 {
    width: 75%;
  }
  .eng-abt-pgs-col-md-8 {
    width: 66.66666667%;
  }
  .eng-abt-pgs-col-md-7 {
    width: 58.33333333%;
  }
  .eng-abt-pgs-col-md-6 {
    width: 50%;
  }
  .eng-abt-pgs-col-md-5 {
    width: 41.66666667%;
  }
  .eng-abt-pgs-col-md-4 {
    width: 33.33333333%;
  }
  .eng-abt-pgs-col-md-3 {
    width: 25%;
  }
  .eng-abt-pgs-col-md-2 {
    width: 16.66666667%;
  }
  .eng-abt-pgs-col-md-1 {
    width: 8.33333333%;
  }
  .eng-abt-pgs-col-md-pull-12 {
    right: 100%;
  }
  .eng-abt-pgs-col-md-pull-11 {
    right: 91.66666667%;
  }
  .eng-abt-pgs-col-md-pull-10 {
    right: 83.33333333%;
  }
  .eng-abt-pgs-col-md-pull-9 {
    right: 75%;
  }
  .eng-abt-pgs-col-md-pull-8 {
    right: 66.66666667%;
  }
  .eng-abt-pgs-col-md-pull-7 {
    right: 58.33333333%;
  }
  .eng-abt-pgs-col-md-pull-6 {
    right: 50%;
  }
  .eng-abt-pgs-col-md-pull-5 {
    right: 41.66666667%;
  }
  .eng-abt-pgs-col-md-pull-4 {
    right: 33.33333333%;
  }
  .eng-abt-pgs-col-md-pull-3 {
    right: 25%;
  }
  .eng-abt-pgs-col-md-pull-2 {
    right: 16.66666667%;
  }
  .eng-abt-pgs-col-md-pull-1 {
    right: 8.33333333%;
  }
  .eng-abt-pgs-col-md-pull-0 {
    right: auto;
  }
  .eng-abt-pgs-col-md-push-12 {
    left: 100%;
  }
  .eng-abt-pgs-col-md-push-11 {
    left: 91.66666667%;
  }
  .eng-abt-pgs-col-md-push-10 {
    left: 83.33333333%;
  }
  .eng-abt-pgs-col-md-push-9 {
    left: 75%;
  }
  .eng-abt-pgs-col-md-push-8 {
    left: 66.66666667%;
  }
  .eng-abt-pgs-col-md-push-7 {
    left: 58.33333333%;
  }
  .eng-abt-pgs-col-md-push-6 {
    left: 50%;
  }
  .eng-abt-pgs-col-md-push-5 {
    left: 41.66666667%;
  }
  .eng-abt-pgs-col-md-push-4 {
    left: 33.33333333%;
  }
  .eng-abt-pgs-col-md-push-3 {
    left: 25%;
  }
  .eng-abt-pgs-col-md-push-2 {
    left: 16.66666667%;
  }
  .eng-abt-pgs-col-md-push-1 {
    left: 8.33333333%;
  }
  .eng-abt-pgs-col-md-push-0 {
    left: auto;
  }
  .eng-abt-pgs-col-md-offset-12 {
    margin-left: 100%;
  }
  .eng-abt-pgs-col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .eng-abt-pgs-col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .eng-abt-pgs-col-md-offset-9 {
    margin-left: 75%;
  }
  .eng-abt-pgs-col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .eng-abt-pgs-col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .eng-abt-pgs-col-md-offset-6 {
    margin-left: 50%;
  }
  .eng-abt-pgs-col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .eng-abt-pgs-col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .eng-abt-pgs-col-md-offset-3 {
    margin-left: 25%;
  }
  .eng-abt-pgs-col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .eng-abt-pgs-col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .eng-abt-pgs-col-md-offset-0 {
    margin-left: 0%;
  }
 
}
@media (min-width: 1200px) {
  .eng-abt-pgs-col-lg-1, .eng-abt-pgs-col-lg-2, .eng-abt-pgs-col-lg-3, .eng-abt-pgs-col-lg-4, .eng-abt-pgs-col-lg-5, .eng-abt-pgs-col-lg-6, .eng-abt-pgs-col-lg-7, .eng-abt-pgs-col-lg-8, .eng-abt-pgs-col-lg-9, .eng-abt-pgs-col-lg-10, .eng-abt-pgs-col-lg-11, .eng-abt-pgs-col-lg-12 {
    float: left;
  }
  .eng-abt-pgs-col-lg-12 {
    width: 100%;
  }
  .eng-abt-pgs-col-lg-11 {
    width: 91.66666667%;
  }
  .eng-abt-pgs-col-lg-10 {
    width: 83.33333333%;
  }
  .eng-abt-pgs-col-lg-9 {
    width: 75%;
  }
  .eng-abt-pgs-col-lg-8 {
    width: 66.66666667%;
  }
  .eng-abt-pgs-col-lg-7 {
    width: 58.33333333%;
  }
  .eng-abt-pgs-col-lg-6 {
    width: 50%;
  }
  .eng-abt-pgs-col-lg-5 {
    width: 41.66666667%;
  }
  .eng-abt-pgs-col-lg-4 {
    width: 33.33333333%;
  }
  .eng-abt-pgs-col-lg-3 {
    width: 25%;
  }
  .eng-abt-pgs-col-lg-2 {
    width: 16.66666667%;
  }
  .eng-abt-pgs-col-lg-1 {
    width: 8.33333333%;
  }
  .eng-abt-pgs-col-lg-pull-12 {
    right: 100%;
  }
  .eng-abt-pgs-col-lg-pull-11 {
    right: 91.66666667%;
  }
  .eng-abt-pgs-col-lg-pull-10 {
    right: 83.33333333%;
  }
  .eng-abt-pgs-col-lg-pull-9 {
    right: 75%;
  }
  .eng-abt-pgs-col-lg-pull-8 {
    right: 66.66666667%;
  }
  .eng-abt-pgs-col-lg-pull-7 {
    right: 58.33333333%;
  }
  .eng-abt-pgs-col-lg-pull-6 {
    right: 50%;
  }
  .eng-abt-pgs-col-lg-pull-5 {
    right: 41.66666667%;
  }
  .eng-abt-pgs-col-lg-pull-4 {
    right: 33.33333333%;
  }
  .eng-abt-pgs-col-lg-pull-3 {
    right: 25%;
  }
  .eng-abt-pgs-col-lg-pull-2 {
    right: 16.66666667%;
  }
  .eng-abt-pgs-col-lg-pull-1 {
    right: 8.33333333%;
  }
  .eng-abt-pgs-col-lg-pull-0 {
    right: auto;
  }
  .eng-abt-pgs-col-lg-push-12 {
    left: 100%;
  }
  .eng-abt-pgs-col-lg-push-11 {
    left: 91.66666667%;
  }
  .eng-abt-pgs-col-lg-push-10 {
    left: 83.33333333%;
  }
  .eng-abt-pgs-col-lg-push-9 {
    left: 75%;
  }
  .eng-abt-pgs-col-lg-push-8 {
    left: 66.66666667%;
  }
  .eng-abt-pgs-col-lg-push-7 {
    left: 58.33333333%;
  }
  .eng-abt-pgs-col-lg-push-6 {
    left: 50%;
  }
  .eng-abt-pgs-col-lg-push-5 {
    left: 41.66666667%;
  }
  .eng-abt-pgs-col-lg-push-4 {
    left: 33.33333333%;
  }
  .eng-abt-pgs-col-lg-push-3 {
    left: 25%;
  }
  .eng-abt-pgs-col-lg-push-2 {
    left: 16.66666667%;
  }
  .eng-abt-pgs-col-lg-push-1 {
    left: 8.33333333%;
  }
  .eng-abt-pgs-col-lg-push-0 {
    left: auto;
  }
  .eng-abt-pgs-col-lg-offset-12 {
    margin-left: 100%;
  }
  .eng-abt-pgs-col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .eng-abt-pgs-col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .eng-abt-pgs-col-lg-offset-9 {
    margin-left: 75%;
  }
  .eng-abt-pgs-col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .eng-abt-pgs-col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .eng-abt-pgs-col-lg-offset-6 {
    margin-left: 50%;
  }
  .eng-abt-pgs-col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .eng-abt-pgs-col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .eng-abt-pgs-col-lg-offset-3 {
    margin-left: 25%;
  }
  .eng-abt-pgs-col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .eng-abt-pgs-col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .eng-abt-pgs-col-lg-offset-0 {
    margin-left: 0%;
  }
}
.clearfix:before,
.clearfix:after,
.eng-abt-pgs-container:before,
.eng-abt-pgs-container:after,
.eng-abt-pgs-container-fluid:before,
.eng-abt-pgs-container-fluid:after,
.eng-abt-pgs-row:before,
.eng-abt-pgs-row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.eng-abt-pgs-container:after,
.eng-abt-pgs-container-fluid:after,
.eng-abt-pgs-row:after {
  clear: both;
}

.eng-abt-pgs-hr {
	margin: 0 0 20px 0;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
	border: 0;
	border-top: 1px solid #eeeeee;
}

.eng-abt-pgs-row h3, .eng-abt-pgs-row h4  {
	margin: 0 0 7px;
    padding: 0;
}
.eng-abt-pgs-row p {
    margin: 0;
    padding: 0 0 20px 0;
}
.eng-abt-pgs-center {
	text-align: center;
	margin: auto;
}
.eng-abt-pgs-img-container {
	padding:20px 0 40px 0;
}
.eng-abt-pgs-sm-img {
	max-width: 300px;
}

.bold {
	font-weight: 600;
}
.italic {
	font-style: italic;
}

.eng-abt-pgs-intro{
    padding: 0;
    height: 230px;
    margin: 30px 0 70px 0;
    position: relative;
    display: inline-block;
    width: 100%;
}
.eng-abt-pgs-bunz {
	position:absolute;
	width:225px;
	top: -30px;
}
.eng-abt-pgs-bunz-txt-holder{
	top: 30%;
    position: relative;
}
.eng-abt-pgs-bunz-txt-lg, .eng-abt-pgs-intro-lg {
	height: 250px;
}
.eng-abt-pgs-bunz-txt-holder-lg {
	top:15%;
}

.eng-abt-pgs-bunz-txt {
	padding: 20px 20px 20px 225px;
	background-color: #ebebeb;
	margin: 0 15px;
	height:230px;
}
.eng-abt-pgs-intro h1 {
	margin: 0 0 10px 0;
}
.intro-txt{
	font-size: 1.375em;
	margin: 0;
}
.eng-abt-gray-bg {
	padding: 20px;
	background-color: #ebebeb;
}

@media (max-width: 991px) {
	.eng-abt-pgs-visible-sm {
		display: block;
	}
	.eng-abt-pgs-hidden-sm {
		display: none;
	}
	.eng-abt-pgs-intro{
    padding: 0;
    height: 130px;
    margin: 30px 0 70px 0;
    position: relative;
    display: inline-block;
    width: 100%;
	}
	.eng-abt-pgs-bunz {
		position:absolute;
		width:140px;
		top: -30px;
	}
	.eng-abt-pgs-bunz-txt-holder {
    	top: 25%;
    	position: relative;
	}
	.eng-abt-pgs-bunz-txt {
		padding: 15px 15px 15px 130px;
		background-color: #ebebeb;
		margin: 0 15px;
		height:130px;
	}
	.eng-abt-pgs-intro h1{
		font-size: 1em;
	}
	.intro-txt {
		font-size: 1em;
	}
}
@media (min-width: 992px) {
	.eng-abt-pgs-visible-sm {
		display: none;
	}
	.eng-abt-pgs-hidden-sm {
		display: block;
	}
}
@media (max-width: 453px) {
.eng-abt-pgs-bunz-txt-holder {
    	top: -3%;
    	position: relative;
	}
	.eng-abt-pgs-bunz-txt-lg, .eng-abt-pgs-intro-lg {
	height: 145px;
	}
}
