/*
COMBINED STYLESHEETS 2015
  style-5-7-15.css
  style-4-30-15.css
  style-5-4-15.css
  style-5-22-15.css
  style-6-8-15.css
  style-6-15-15.css - REMOVED FROM HERE - NOT ON PROD
  style-6-24-15.css
  style-8-6-15.css
  style-8-11-15.css
  style-8-13-15.css
  style-9-11-15.css
	
	style-11-21-15.css
	style-12-17-15.css
	
	style-6-2-15.css
	style-6-3-15.css
	
	
**********/

/* style-5-7-15.css */

.main-header .nav-contain .lighting .headlight-new{
	margin-top: 120px;
	font-weight:bold;
	position: relative;
}
.main-header .nav-contain .lighting .headlight-new a:after{
	content: '';
	display: inline-block;
	width: 155px;
	height: 54px;
	position: absolute;
	bottom: -80px;
	left: 0;
	background: url(../images/headlight.png) no-repeat;
}
.main-header .nav-contain .lighting .headlight-new a{
		font-size: 14px !important;
		font-weight: bold !important;
}
.main-header .nav-contain .subnav .flashlight{
	left: -67px !important;
}
.lighting-product a{z-index:50 !important;}

/* style-4-30-15.css */

.charger-table{
  padding: 0;
  margin: 0;
  max-width: 100%;
}
.charger-table tr{

  max-width: 100%;
}
.charger-table td, .charger-table th {
  border: 1px solid #c0c1c1;
  padding: 8px 10px;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  color: #0f8f4a;
  font-family: Arial;
  font-size: 9px !important;
  border-right: 0;
}
.charger-table td{
  border-top: 0;
  color: #231f20;
}
.charger-table td:last-of-type, .charger-table th:last-of-type{
  border-right: 1px solid #c0c1c1;
}
.charger-table span{
  text-transform: none;
  font-weight: bold;
  font-size: 14px;
  padding: 3px 0 0;
  display: inline-block;
}
.charger-table span:nth-of-type(2){
  font-weight: normal;
  font-size: 9px;
}
.charger-table img{
  display: block;
  height: 40px;
  width: auto;
  margin: 7px auto 3px;
}

.charger-table tr:nth-of-type(1n+2) th{
  border-top: 0;
}

.charger-table .tdsmall{
  font-size:12px;
}
/*font size change*/
.font-size{
    text-align: right;
    width: 100%;
    display: block;
    height: 35px;
    line-height: 35px;
    float: left;
    font-size: 14px !important;
}

.font-size span{
    font-size: 14px !important;
    display: inline-block;
    height: 10px;
    transform:translateY(-10px);
}

a#decreaseFontSize{
    margin-right: 10px;
}

a#increaseFontSize{
    background-position-y: -35px !important;
    margin-left: 10px;
}

a#decreaseFontSize, a#increaseFontSize{
    text-decoration: none;
    background: url(../images/fontsizeicons.png) no-repeat;
    position: relative;
    display: inline-block;
    background-size: 100%;
    border-radius: 7px;
    text-align: center;
    height: 35px;
    width: 43px;
    text-indent: -999999px;
    overflow: hidden;
    transform: translateY(12px);
}

.font-size + p{
    line-height: 1.5em;
}

.font-size + p img{
    float: left;
}

.page-meta.hearing-aids-meta{
    margin-bottom: 10px;
}
/*End font size change*/

/* style-5-4-15.css */

.newimg{background: #fff url(../images/New_Corner_Banner.png) no-repeat top left;}
.red-accordion-toggle {background: #dc291e url(../images/Headlights_Accordion_RED_2.png) no-repeat right !important; background-size: cover !important;}
.red-accordion-toggle:after {color: #dc291e !important; }
.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    /*padding-top: 25px;*/
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.showcase-thumbnail-video img{width: 100% !important; margin-top:0px !important;}
.showcase-thumbnail a{
    position: relative;
}

.showcase-thumbnail-video:before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    -webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    background: rgba(0,0,0,.8);
    border-radius: 4px;
    z-index: 10;
}

.showcase-thumbnail-video:after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
	-webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 0; 
    height: 0; 
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid white;
    z-index: 20;
}

/* style-5-22-15.css */

.lighting-product h5{  z-index: 50 !important;}
.lighting-product h5 {
  display: block;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  position: absolute;
  bottom: 12px;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 100;
  font-size: 15px;}
	
	
/* style-6-2-15.css */
	
body .search {
	display:inline-block;
	vertical-align: top;
	margin:1em 0;
	height:30px;
	border-radius: 5px;
}

@media screen and (max-width: 798px) {
    body .search {
		max-width: 40%;
		margin-right: 10px;
    }
    body .socialTop{
    	display: none;
    }
}

body .search input[type=text] {
	background: #fff;
	border:none;
	color:white;
	font-size: 13px;
	font-family: $opensans;
	padding:3px 0 3px 10px;
	width: 245px;
	max-width: 80%;	
	height: 30px;
	color: #000;
	float:left;
	text-align: left !important;
	display:block;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;	
	outline: $red;
}

body .search input.searchError{
	border: 1px solid red;
}

body .search .search-btn {
	background:$red url(../images/header_top_search.png) no-repeat center center;
	display:block;
	height:30px;
	width:50px;
	float:left;
	max-width: 20%;
	border-top-right-radius: 2px;
	cursor: pointer;
	border-bottom-right-radius: 2px;
}

/* style-6-3-15.css */

@media (max-width: 1030px) and (min-width: 600px) {
.product-family-container .col_1_4 a {
	float: left;
	width: 50%;
	text-align: center;
}
.product-family-container .col_1_4 a img {
	float: none;
}
}
@media (max-width: 550px) {
  .lighting-landing [class*='col_'] {padding: 0;} }

 /* slider actions */
.tablet-promo .lSAction{
	width: 63px;
	margin: -10px auto 0;
	z-index: 99999;
	position: relative;
}
.tablet-promo .lSAction > a {
    width: 25px;
    display: block;
    top: auto;
    height: 24px;
    /*background-image: url('../img/ls.png');*/
    cursor: pointer;
    position: static;
    z-index: 9999;
    margin-top: -16px;
    opacity: 1;
    background-position: 0 0 !important;
    -webkit-transition: opacity 0.35s linear 0s;
    transition: opacity 0.35s linear 0s;
}
.tablet-promo .lSAction > a:hover {
    opacity: 1;
}
.tablet-promo .lSAction > .lSPrev {
    background-image: url('/images/default-source/ui-elements/lsprev.png');
    float: left;
    left: auto;
}
.tablet-promo .lSAction > .lSNext {
    background-image: url('/images/default-source/ui-elements/lsnext.png');
    right: auto;
    float: right;
} 

/* style-6-8-15.css */

.special-finder-list li {
  font-size: 14px;
}
.special-finder-list li:first-of-type {
  margin-top: 0;
  font-size: 15px;
  margin-bottom: 40px;
}

.row.special-finder {
  margin-top: 30px;
}

.special-finder-main p.page-desc {
  width: 100%;
  line-height: 1.8em !important;
  max-width: 100% !important;
  margin-top: 10px;
}
.special-finder-main p.page-desc img.alignright {
  display: block;
  margin-top: -15px;
  margin-left: 50px;
  float: right;
  width: 250px;
  height: auto;
}

.special-ad {
  margin: 30px 0;
  display: block;
}
@media (max-width: 1000px) {
  .special-ad {
    display: none;
  }
}

.special-ad img {
  width: 100%;
}

.brand-product {
  width: 40%;
  margin-right: 10%;
  float: left;
}
@media (max-width: 1000px) {
  .brand-product {
    width: 100%;
    margin: 0;
    padding: 0;
    float: none;
  }
}-

.brand-product h2 {
  font-size: 18px;
}

.brand-product ul {
  margin: 0;
  padding: 0;
}

.brand-product ul li {
  width: 45%;
  display: block;
  float: left;
  text-align: left;
  margin: 5px 0;
}

.brand-product ul li a {
  color: #000;
  text-decoration: none;
}

.special-finder-list .active {
  font-weight: bold !important;
}

.special-product {
  width: 50%;
  float: left;
  margin: 0;
}
@media (max-width: 530px) {.special-product {width: 100%;}}
.special-product h3 {
  font-size: 17px;
}
.special-finder-main
{width:100%;}
.special-finder-main ul li.active{
  font-weight: bold;
}

@media (max-width: 1000px) {
  .special-finder .col_1_4 {
    width: 100% !important;
    margin: 0;
    padding: 0 5%;
    display: block !important;
    float: none;
  }
}

@media (max-width: 1000px) {
  .special-finder .col_3_4 {
    margin: 0;
    padding: 0;
  }
}

.special-product-details .special-image {
  width: 20%;
  float: left;
  display: block;
}
.special-product-details .special-image img {
  max-width: 90px;
  width: 100%;
}
.special-product-details .special-text {
  width: 80%;
  float: left;
  padding-left: 10px;
  margin-bottom: 40px;
}
.special-product-details .special-text h4, .special-product-details .special-text p, .special-product-details .special-text ul {
  margin: 0;
}
.special-product-details .special-text h4 {
  font-style: italic;
}
.special-product-details .special-text p {
  font-size: 15px;
  margin: 3px 0;
}
.special-product-details .special-text ul {
  font-size: 14px;
  padding: 0 0 0 20px;
}
.special-product-details .special-text ul li {
  margin: 5px 0;
}
.special-product-details .special-text a.btn, .special-product-details .special-text a.btn-green, .special-product-details .special-text a.btn-red, .special-product-details .special-text a.btn-gray {
  background: #dc291e;
  margin-top: 30px;
  padding: 5px 14px;
  width: auto;
  height: auto;
  font-size: 15px;
  font-weight: normal;
  line-height: 30px;
}

.all-list {
  max-height: 400px;
  overflow: auto;
}

.all-brands ul {
  width: 100%;
}
.all-brands ul li {
  width: auto !important;
  display: inline-block !important;
  padding: 3px !important;
  line-height: 1em;
}
.all-brands ul li:nth-of-type(26) {
  margin-right: 66%;
}
@media (max-width: 1000px) {
  .all-brands ul li:nth-of-type(26) {
    margin-right: 20px;
  }
}

.all-list {
  margin-top: 40px;
  width: 100%;
  float: left;
  margin-bottom: 15px;
}
.all-list .mix {
  width: 100%;
  border: 0;
  margin: 1px 0;
  display: block;
}
.all-list .mix a {
  color: #000;
  text-decoration: none;
  font-size: 15px;
}
/*
.active {
	font-weight:bold;
}*/
.show-A .mix:not(.first-A) {
  display: none !important;
}

.show-B .mix:not(.first-B) {
  display: none !important;
}

.show-C .mix:not(.first-C) {
  display: none !important;
}

.show-D .mix:not(.first-D) {
  display: none !important;
}

.show-E .mix:not(.first-E) {
  display: none !important;
}

.show-F .mix:not(.first-F) {
  display: none !important;
}

.show-G .mix:not(.first-G) {
  display: none !important;
}

.show-H .mix:not(.first-H) {
  display: none !important;
}

.show-I .mix:not(.first-I) {
  display: none !important;
}

.show-J .mix:not(.first-J) {
  display: none !important;
}

.show-K .mix:not(.first-K) {
  display: none !important;
}

.show-L .mix:not(.first-L) {
  display: none !important;
}

.show-M .mix:not(.first-M) {
  display: none !important;
}

.show-N .mix:not(.first-N) {
  display: none !important;
}

.show-O .mix:not(.first-O) {
  display: none !important;
}

.show-P .mix:not(.first-P) {
  display: none !important;
}

.show-Q .mix:not(.first-Q) {
  display: none !important;
}

.show-R .mix:not(.first-R) {
  display: none !important;
}

.show-S .mix:not(.first-S) {
  display: none !important;
}

.show-T .mix:not(.first-T) {
  display: none !important;
}

.show-U .mix:not(.first-U) {
  display: none !important;
}

.show-V .mix:not(.first-V) {
  display: none !important;
}

.show-W .mix:not(.first-W) {
  display: none !important;
}

.show-X .mix:not(.first-X) {
  display: none !important;
}

.show-Y .mix:not(.first-Y) {
  display: none !important;
}

.show-Z .mix:not(.first-Z) {
  display: none !important;
}

.show-1 .mix:not(.first-1) {
  display: none !important;
}

.show-2 .mix:not(.first-2) {
  display: none !important;
}

.show-3 .mix:not(.first-3) {
  display: none !important;
}

.show-4 .mix:not(.first-4) {
  display: none !important;
}

.show-5 .mix:not(.first-5) {
  display: none !important;
}

.show-6 .mix:not(.first-6) {
  display: none !important;
}

.show-7 .mix:not(.first-7) {
  display: none !important;
}

.show-8 .mix:not(.first-8) {
  display: none !important;
}

.show-9 .mix:not(.first-9) {
  display: none !important;
}

.show-0 .mix:not(.first-0) {
  display: none !important;
}

.letter {
  cursor: pointer;
}

.all-list .no-results {
  display: none !important;
}

.all-list.no-results .mix:not(.no-results) {
  display: none !important;
}
.all-list.no-results .no-results {
  display: block !important;
}

.special-side {
  background: #ebebeb;
  padding: 20px;
}

.select-top {
  display: none;
}

@media (max-width: 1000px) {
  .finder-list-contain {
    width: 250px;
    height: 30px;
    position: relative;
    z-index: 9999;
  }
  .finder-list-contain .select-top {
    display: block;
    cursor: pointer;
    margin-bottom: 0 !important;
  }
  .finder-list-contain ul {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 250px;
    overflow: visible;
    line-height: 30px;
    overflow: hidden;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    background: #fff;
  }
  .finder-list-contain ul:after {
    background: url(../images/specialdown.png) no-repeat;
    width: 23px;
    background-size: 80%;
    height: 14px;
    content: '';
    display: block;
    float: right;
    position: absolute;
    right: 10px;
    top: 11px;
    z-index: 99999;
  }
  .finder-list-contain ul.active {
    overflow: visible;
  }
  .finder-list-contain ul li {
    width: 100%;
    padding: 0 10px;
    height: 30px;
    margin: 0;
    border: 1px solid #333;
    border-top: 0;
    background: #fff;
  }
}
.thumbnail-batteries img{width: 40%; margin-top: 10px;}
/*.showcase-content img{width: auto;}*/
.battery-thum-height{height:156px !important;}
.promocenter{text-align: center;}
.psreview{clear:both; margin-top: 10%;}
.responsive .ps-button-label, .battery-responsive-mobile .ps-button-label{min-width:175px !important;}
.buy-container .ps-button-label{min-width:150px !important;}
.ultwo{columns: 2; -webkit-columns: 2; -moz-columns: 2; list-style-type: none;}
.btn-gray{width: 85% !important; height: 30px; color: white; display: table; text-decoration: none; text-align: center; border-radius: 5px; cursor: pointer; background: #555555 !important; padding-top: 3px; margin:auto;}
.btn-gray span { display: table-cell; vertical-align: middle;}
.btn-center{text-align: center;}
.psbuynow{clear:both; padding-top: 10px;  display: flex; align-items: center; justify-content: center;}
.wrapper-dropdown-3{margin-bottom:15px;}

/* style-6-24-15.css */

/* COIN LITHIUM PAGES */
.bc-child {
  padding-left: 15px;
}

.coin-lithium-page.row {
  padding-right: 0;
  width: 1055px !important;
}
@media (max-width: 1050px) {
  .coin-lithium-page.row {
    width: 90% !important;
  }
}
.coin-lithium-page.row img.alignright {
  display: block !important;
}
@media (max-width: 1050px) {
  .coin-lithium-page.row img.alignright {
    width: 100% !important;
    margin-bottom: 15px;
  }
}
.coin-lithium-page.row .emergency {
  background: #dc291e;
  width: 130px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  float: right;
  margin: 30px 0;
}
@media (max-width: 1050px) {
  .coin-lithium-page.row .emergency {
    margin: 20px auto;
    float: none;
  }
}
.coin-lithium-page.row .emergency h3 {
  display: inline-block;
  font-size: 22px;
  padding: 0 !important;
  margin: 0 0 10px !important;
}
.coin-lithium-page.row .emergency h3 span {
  font-size: 11px;
  font-weight: normal;
  display: inline-block;
  width: 100%;
}
.coin-lithium-page.row .emergency.nomargin {
  margin-top: 10px;
}
.coin-lithium-page.row .col_3_4.bigmargin, .coin-lithium-page.row .col_1_4.bigmargin, .coin-lithium-page.row .col_1_3.bigmargin, .coin-lithium-page.row .col_2_3.bigmargin {
  margin: 30px 0;
}
@media (max-width: 1050px) {
  .coin-lithium-page.row .col_3_4, .coin-lithium-page.row .col_1_4, .coin-lithium-page.row .col_1_3, .coin-lithium-page.row .col_2_3 {
    width: 100% !important;
    padding: 0 2%;
  }
}
.coin-lithium-page.row .red {
  color: #dc291e;
}
.coin-lithium-page.row .sidecolumn {
  padding-left: 17px;
}
.coin-lithium-page.row .sidecolumn li {
  margin: 4px 0;
}
.coin-lithium-page.row h3 + h4 {
  margin-top: 0;
}
.coin-lithium-page.row .boldedul {
  padding-left: 0;
  list-style: none;
  margin-top: 30px;
  font-weight: bold;
}
.coin-lithium-page.row .boldedul li:first-of-type {
  text-transform: uppercase;
}
.coin-lithium-page.row .boldedul li {
  margin: 7px 0;
}
.coin-lithium-page.row .nopad {
  padding: 0 !important;
  margin: 0 !important;
}
.coin-lithium-page.row .nopad ~ h4 {
  padding-bottom: 0;
  margin-bottom: 0 !important;
}

.halfwide {
  width: 40%;
  margin-left: 8%;
}

.learn-facts ul {
  margin-bottom: 50px;
}

.box-gray + .col_1_2 {
  padding-left: 0 !important;
}

.box-gray {
  background: #ebebeb;
  padding: 10px 15px;
  border-radius: 4px;
  margin: 30px 0;
}
.box-gray.nomargin {
  margin-top: 0;
}
.box-gray.nomargin h3 {
  margin-top: 5px;
  padding-top: 0;
}

p.fleft {
  float: left;
  font-size: 12px;
}

a.graylink {
  color: #000 !important;
}

.flare-box {
  background: #000 url(/images/default-source/responsibility/coin-lithium/flare.png) no-repeat;
  background-position: 1px top;
  background-size: cover;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
}
.flare-box.maxw {
  max-width: 300px;
}
@media (max-width: 1050px) {
  .flare-box {
    margin: 20px auto;
    background-size: 150%;
    background-position: top left;
  }
}
.flare-box a, .flare-box p {
  display: block;
  color: #fff;
  padding: 0;
  margin: 2px 0;
  font-size: 15px;
}
.flare-box h5 {
  margin: 0;
  padding: 0;
}

.fullwidth-video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.fullwidth-video iframe, .fullwidth-video object, .fullwidth-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.fullwidth-video iframe .fullwidth-video img, .fullwidth-video object .fullwidth-video img, .fullwidth-video embed .fullwidth-video img {
  width: 100%;
}

.fullwidth {
  width: 100%;
}
ul.breadcrumbs li ul li{width:125%;}
/* END COIN LITHIUM PAGES */
.videowrapperpadding {
    padding-bottom: 52.25%;
}
.ancheroffset{
    padding-top: 47px;
    margin-top: -47px;
	color: #000;
}
.flareboxinline{display: inline !important;}

/* style-8-6-15.css */

sub{display: inline;}

/* style-8-11-15.css */

.callout{
	width: 100%;
	padding: 15px;
	border-radius: 8px;
	margin: 40px 0 30px;
}
.callout--gray{
	background: #ebebeb;
}
.callout-head{
	padding: 0 0 5px;
	margin: 0;
}
.callout-list{
	margin: 0 0 0 20px !important;
	padding: 0;
	float: none !important;
	width: 90% !important;
	padding-left: 0px !important;
}
.callout-list li{
	margin: 7px 0;
	font-size: 14px;
} 

/* style-8-13-15.css */

.showcase-thumbnail.showcase-thumbnail-video {
    width: 120px !important;
}
.showcase-thumbnail:before, .showcase-thumbnail:after {
    display: none;
}
.showcase-thumnbail img {
    width: auto !important;
    max-width: 65px;
}
div#showcase-thumbnail-0 {
    width: 65px;
}
.showcase-thumbnail-container {
    margin-top: 20px;
}

/* style-9-11-15.css */

.slider-text{width: 95%; min-height: 350px;}
.alignright{margin-left:10px !important; margin-bottom:10px !important;} 

/* style-11-21-15.css */

.floatwidth{float:left; width:25%;}
@media (max-width: 720px){
.floatwidth{width:95%;}
}

/* style-12-17-15.css */

.colad  img {margin: 20px 0; width: 100%;}