/* 2017 Nav Updates */
.buynowtop a {
    color: #d33128 !important;
}

/* Fix Safari bug */
.footer-menu-container .footer-menu:after {
	content: none;
}
/* Rebecca's comments to make browse by type diagram smaller with more space inbetween */
.main-header .nav-contain .subnav .batteries li {
    margin-right: 11px;
    background-size: 90%!important;
    background-position: 0px 5px!important;	
}
.main-header .nav-contain .subnav {
	min-height: 450px;
}
/* About Energizer desktop reduce vertical height of menu items */
.active-country.country-clicked ul li {
	padding: 0px 15px 5px 15px;
}
.clear {
	clear: both;
}
.only-show-on-mobile {
	display:none!important;
}
.only-show-on-desktop {
	display:initial!important;
}
.power .subnav {
	padding-top: 15px!important;
}
.power .subnav .bunny {
	background: url(../images/power-subnav-bunny.png) no-repeat center center;
    height: 230px;
    width: 166px;
    position: absolute;
	bottom: -22px;
    left: 410px;
    background-size: 80%;
}
.lighting .subnav .bunny {
	background: url(../images/lighting-bunny2017.png) no-repeat center center;
    height: 231px;
    width: 175px;
    position: absolute;
    bottom: -30px;
    right: 212px;
    background-size: 95%;
}
.main-header .nav-contain .subnav .batteries {
	bottom: 50px;
	z-index: -1;
	padding-left: 9px;
}
.main-header .nav-contain .power .subnav > li, .main-header .nav-contain .lighting .subnav > li {
	text-align: left;
	margin-left: 50px;
	margin-right: 0;
}
.power .subnav .batteries {
	margin-left: 40px!important;
}
.main-header .nav-contain .power .subnav > li:first-of-type {
	min-width: 290px;
}
.main-header .nav-contain .power .subnav > li:nth-of-type(2) {
	min-width: 320px;
    margin-left: 55px;
}
.main-header .nav-contain .power .subnav > li:nth-of-type(3) {
    min-width: 308px;
    margin-left: 77px;
}
.main-header .nav-contain .power .subnav > li:nth-of-type(4) {
    min-width: 320px;
    margin-left: 55px;	
}
.main-header .nav-contain .power .subnav > li:nth-of-type(4) img.only-show-on-desktop {
	height: 41px;
	transform: translateY(-24%);
}
.main-header .nav-contain .power .subnav > li:first-of-type ul li:nth-of-type(4) {
	border-bottom: 1px solid #707070;
}
.horizontal-nav {
	position: absolute;
	text-align: left;
	padding-left: 50px;
	bottom: 0;
	left: 0;
	background: #dc291e;
	padding: 9px 60px;
	width: 100%;
}
.horizontal-nav li {
	font-size: 14px;
	font-weight: bold;
	display: inline-block;
	margin-right: 30px;
    text-align: left;
    transform: translateY(-10%);
}
.horizontal-nav li a {
	font-size: 14px!important;
	font-weight: bold!important;	
}
.subnav li ul li {
    padding: 12px 0;
    border-top: 1px solid #707070;
    font-weight: 300;
    font-size: 14px;
}
.subnav li ul li img.only-show-on-desktop {
    float: right;
    height: 30px;
    clear: both;
    transform: translateY(-15%);   
    padding-left:10px; 
}
.lighting .subnav li ul li img.only-show-on-desktop {
	float: right;
    height: auto;
    width: 89px;
    clear: both;
    transform: translateY(-34%);
}
.lighting .subnav li:first-of-type ul li img.only-show-on-desktop {
    float: right;
    max-height: 37px;
    width: auto;
    clear: both;
    transform: translateY(-20%);	
}
.lighting .subnav li:nth-of-type(2) ul li:first-of-type img {
	transform: translateY(-26%);
    height: 43px;
}
.bathead a{
	font-weight: bold!important;
}
.bathead a.pop {
	font-weight: normal!important;
}
@media (min-width:768px){
.bathead a {
		font-size: 13px!important;
		line-height: 18px!important;
	}	
}
.main-header .nav-contain .lighting .subnav > li:first-of-type {
	min-width: 290px;
}
.main-header .nav-contain .lighting .subnav > li:nth-of-type(2) {
	min-width: 320px;
	margin-left: 55px;
}
.main-header .nav-contain .lighting .subnav > li:nth-of-type(3) {
	min-width: 320px;
	margin-left: 55px;	
}
.lighting .subnav > li:nth-of-type(3) ul li {
	border-top: none;
	padding: 0;
}
.lighting .subnav > li:nth-of-type(2) ul li:last-of-type {
	border-bottom: 1px solid #707070;
}

/* Footer Menu */
.footer-menu-container .footer-menu {
	display: flex;
	flex-wrap: wrap;
	background: none;
	border-top: 1px solid black;
    padding-top: 22px;	
}
.footer-menu ul li a:hover, footer ul li a:hover {
	text-decoration: underline!important;
}
.footer-flex-item {
	flex: 4;
	position: relative;
}
.footer-flex-item:nth-of-type(5) {
	flex: 1;
}
.footer-flex-item img {
	position: absolute;
    bottom: -195px;
    left: -112px;
}
.footer-flex-item h3 {
	margin: 0;
	font-size: 12px;
}
.footer-flex-item h3 + ul {
	margin-top: 5px!important;
}
.footer-menu-container .footer-menu ul li {
	float: none;
}
.footer-menu-container .footer-menu ul li a {
	padding-left: 0;
	font-size: 12px;
}
.footer-menu-container .footer-menu ul li a:after {
	content: none;
	padding: 0;
}
#main-footer .copyright-menu {
    list-style: none;
    float: left;
    padding: 0;
    margin-top: 12px;
    margin-left: 12px;
}
#main-footer .copyright-menu li a {
    font-size: 12px;
    color: black;
    padding-left: 5px;	
}
#main-footer .copyright-menu li a:after {
	padding-left: 5px;
    font-size: 12px;
    display: inline-block;
}
#main-footer .copyright {
    font-size: 12px;
    line-height: 1.5;
    color: #878787;
    float: left;
    clear: left;
    width: 50%;
}
#main-footer {
	margin-top: 40px!important;
}
#main-footer .footer-logo {
	margin-bottom: 20px;
}




/* All the mobile stylings */

@media (max-width:767px) {
	.border-top {
		border-top: 1px solid white!important;
	}
	.border-top-and-bottom {
		border-top: 1px solid white!important;
		border-bottom: 1px solid white!important;				
	}
	.mean-nav {
		background: rgba(0, 0, 0, 0.7)!important;
	}
	.mean-container .mean-nav ul li .subnav li ul li, .mean-container .mean-nav ul li ul.subnav li {
		background: none!important;
	}
	.mean-container .mean-nav ul li a {
		text-transform: none;
		font-size: 20px;
	}
	.mean-container .mean-nav ul li li a {
		opacity: 1;
	}
	.flush-left-on-mobile {
    	text-align: left!important;
	}
	.only-show-on-mobile {
		display:initial!important;
	}
	img.only-show-on-mobile {
	    margin: 0 auto;
	    width: 130px;
	    height: auto!important;
	    margin-bottom: 5px;	
	    padding-bottom: 20px;
	    float:none!important;
	    display:block!important;	
	}
	.only-show-on-desktop {
		display:none!important;
	}
	footer .copyright img {
    	margin-top: 40px;
	}
	.footer-menu-container .footer-menu {
		width: 89%;
		margin: 0 auto;
		justify-content: space-between;		
	}
	#main-footer .copyright {
	    float: none;
	    clear: both;
	    width: 93%;
	    margin: 0 auto;	
	    padding-top: 20px;	
	}
	#main-footer .footer-logo {
		margin: 0;
		margin-left: 5%;
	}
	.footer-flex-item {
		flex: initial;
		min-width: 145px;
	}
	.footer-flex-item:nth-of-type(1){
		order: 1;
	}
	.footer-flex-item:nth-of-type(2){
		order: 3;
	}
	.footer-flex-item:nth-of-type(3){
		order: 5;
	}
	.footer-flex-item:nth-of-type(4){
		order: 2;
	}
	.footer-flex-item:nth-of-type(5) {
		display: none;
	}
	.footer-flex-item:nth-of-type(6){
		order: 4;
	}
	.mean-container .mean-nav ul li li a, .mean-container .mean-nav ul li .subnav li ul li {
		border: none;
	}
	#uses-full-width-on-mobile li img.only-show-on-mobile {
	    width: 142%;
	    margin-left: -21%;
	}
	#product-collection-text-align-left-on-mobile li a {
		text-align: left;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.mean-nav-header {
		text-align: left!important;
		font-weight: bold;
	}
	.mean-nav-header::after {
	    position: relative;
	    /* top: 3pt; Uncomment this to lower the icons as requested in comments*/
	    content: "";
	    display: inline-block;
	    /* By using an em scale, the arrows will size with the font */
	    width: 0.4em;
	    height: 0.4em;
	    border-right: 0.2em solid white;
	    border-top: 0.2em solid white;
	    transform: rotate(45deg);
	    margin-right: 0.5em;
	    margin-left: 5px;
	}
	.mean-nav-header.arrow-expanded::after {
	    transform: rotate(135deg);		
	}
	.power .subnav .batteries-section-for-mobile .batteries {
		margin-left: 0!important;
	}
	.batteries-section-for-mobile img {
		display: block;
		margin: 0 auto;		
	}
	.batteries-section-for-mobile .batteries li a {
		text-align: left;
		padding-left:0;
	}
	.mean-container .mean-nav ul li ul.subnav li.aa {
		width: 33%;
		margin-bottom: 30px;		
	}
	.mean-container .mean-nav ul li ul.subnav li.aaa {
		width: 33%;				
	}	
	.mean-container .mean-nav ul li ul.subnav li.c {
		width: 33%;				
	}		
	.mean-container .mean-nav ul li ul.subnav li.d {
		width: 33%;				
	}
	.mean-container .mean-nav ul li ul.subnav li.ninev {
		width: 33%;				
	}	
	.mean-container .mean-nav ul li ul.subnav li.specialty {
		width: 33%;				
	}
	.mean-container .mean-nav ul li li li a {
		width: 82%;
		padding: 1em 9%;
	}	
	.lighting .subnav li:nth-of-type(2) ul li:first-of-type img {
		transform: none;
	}
} /* end of media query */


/* Desktop only nav "pop" update August 17th, 2017 */

@media (min-width: 1025px) {
/* 	red: #dc291e */
	.main-header .nav-contain .subnav {
		min-height: 485px;
	}
	.power .subnav .bunny {
		left: 490px;
		bottom: -18px;
	}
	.main-header .nav-contain .subnav .batteries {
		bottom: 60px;
	}
	.main-header .nav-contain .subnav .batteries li.bathead {
		padding: 10px 0 10px;
	}
	.main-header .nav-contain .subnav .batteries li {
		margin-right: 35px;
	}
	.main-header .nav-contain .subnav .batteries li a {
		padding-top: 97px;
	}
	.main-header .nav-contain .subnav .batteries li.aa {
		width: 25px;
		background-position: 3px 0px!important;
	}
	.main-header .nav-contain .subnav .batteries li.aaa {
		width: 21px;
		background-position: 2px 3px!important;		
	}
	.main-header .nav-contain .subnav .batteries li.c {
		width: 50px;
		background-position: 3px 0px!important;		
	}
	.main-header .nav-contain .subnav .batteries li.d {
		width: 50px;
		background-position: 3px 5px!important;	
	}
	.main-header .nav-contain .subnav .batteries li.ninev {
		width: 46px;
		background-position: 3px 0px!important;
	}
	.main-header .nav-contain .subnav .batteries li.specialty {
		width: 55px;
		background-position: 3px 0px!important;		
	}
	.pop {
		font-weight: normal!important;
		background-color: #dc291e;
		padding: 10px!important;
		border-radius: 5px;	
		max-width: 321px;	
	}
	.batteries .pop {
		max-width: 303px;
	}
	.lighting .pop {
		margin-top: 10px;
	}
}
.nav-contain .responsibility .subnav {
	min-height: 0 !important;
}
