.wtb-thumbs { float: left; margin-right: 10%; margin-bottom: 45px; margin-top: 20px; width: 17%; }
.wtb-thumbs:nth-of-type(4) { margin-right: 0; }
.wtb-thumbs img { width: 100%;}
.wtb-thumbs a { color: black;}
.jump-link { margin-right: 10px; border: 1px solid #ccc;}
.red{color:#dc291e;}
@media (max-width: 530px) {
                        .wtb-thumbs { float: none; margin: 20px auto; width: 70%; text-align: center }
                        .wtb-thumbs a { display: inline-block; text-align: center; }
                        .wtb-thumbs:nth-of-type(4) { margin-right: auto; }
                        .jump-link { display: inline-block; margin: 10px auto; }
                     }

