  .asset-container {
    	width: 100%;
    	margin: 0 auto;
    }
    	.poy-text {
    		font-family: 'Open Sans', sans-serif;
    		font-size: 16x;
    		width: 60%;
    		float: right;
    	}

    	.poy-text h2 {
    		font-weight: bold;
    		font-size: 22px;
    		line-height: 1.75em;
    	}

    	.poy-txt p {
    		line-height: 1.25em;

    	}

    	.poy-text p strong {
    		margin: 15px 0;
    	}

    	.poy-badge {
    		width: 30%;
    		float: left;
    		text-align: center;
    	}

    	.poy-badge p {
    		font-weight: 400;
    		font-family: 'Open Sans', sans-serif;
    		font-size:  14px;
    	}

    	.poy-badge img {
    		margin-bottom: 15px;
    		width: 65%;
    		margin-top: 25px;
    	}
@media screen and (max-width: 530px) {
    		.poy-text {
    			width: 100%;
    			float: none;
    			padding: 2%;
    		}
    		.poy-badge {
    			width: 100%;
    			float: none;
    			padding: 2%;
    			margin: 20px auto;
    		}
    	}
