.main-header .logo {width:36%;}
.main-header .nav-contain .main-nav{width:calc(86% - 288px);}
.callbacks_container{height:475px;}
@media screen and (max-width: 768px) {
.callbacks_container{height:325px;}
}
@media screen and (max-width: 375px) {
.callbacks_container{height:158px;}
.sfimageWrp img {width:100%;}
}
.callbacks_tabs{left: 45%;}
