.wrapper {
    position: relative;
    overflow: hidden;
    width: 722px;  /* actual width of bunny image */
    height: 698px;  /* actual height of bunny image */
    float: right;
}

#bunny-slide {
    position: absolute;
    right: -800px;   /* from left or right? */
    width: 722px; /* actual width of bunny image */
    height: 698px; /* actual height of bunny image */
    background: transparent;
    -webkit-animation: slide 2.5s forwards;  /* adjust for animation speed */
    -webkit-animation-delay: 2s; /* delay on page load */
    animation: slide 2.5s forwards;  /* adjust for animation speed */
    animation-delay: 2s;  /* delay on page load */
}

@-webkit-keyframes slide {
    100% { right: 0; }  /* from left or right? */
}

@keyframes slide {
    100% { right: 0; }  /* from left or right? */
}
.eco-advanced-container .publicity {border-bottom:2px solid #dcdcdc !important;}
.eco-advanced-container section:last-of-type{border-bottom: none;}
.welcome{padding-top: 117px; padding-left: 60px;  width: 35%; float: left;}
.welcome p {color: #ff1b80;}
.eco-advanced-container .publicity .section-graphic {
  background: url(/images/default-source/bunny-center-images/Bunny4-a.jpg) no-repeat center center;
  height: 241px; }
.eco-advanced-container .store .section-graphic {
  background: url(/images/default-source/bunny-center-images/bunny-slippers.png) no-repeat center center;
  height: 360px; }
.eco-advanced-container .timeline .section-graphic {
  background: url(/images/default-source/bunny-center-images/bunny-timeline.png) no-repeat center center;
  height: 440px; }
.eco-advanced-container .timeline a, .eco-advanced-container .publicity a, .eco-advanced-container .store a {color:#fc629e;}
.eco-advanced-container .timeline .section-text, .eco-advanced-container .store .section-text{
	position: relative;
    top: 50%;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
}
.bunnyseciton{padding: 0!important;}
.bunnystill{background: url(/images/default-source/bunny-center-images/still-going-bg.png) no-repeat center center; height: 582px; position: relative;}
.bunnystill img{ margin: auto; display: block; bottom: -32px; position: absolute; left: 33%;}
.bunnyseciton strong {
font-size: 28px;
font-weight: 100;
}
.eco-advanced-container .timeline .section-title, .eco-advanced-container .publicity .section-title, .eco-advanced-container .store .section-title{ font-size: 28px !important; padding: 0px !important;}
/* responsive styles */

@media screen and (max-width: 575px) {
	.welcome {
	   padding-left: 0;
	   width: 95%;
	   float: left;
	   padding-top: 57px;
	}
     .welcome img {
          width: 75%;
      }

.wrapper {
    position: relative;
    overflow: hidden;
    width: 361px;
    height: 347px;
    float: right;
}

#bunny-slide {
    position: absolute;
    width: 361px;
    height: 349px;

}

.eco-advanced-container .timeline .section-text, .eco-advanced-container .store .section-text {
    position: relative;
    top: 0;
     -webkit-transform: translateY(0); 
    -ms-transform: translateY(0);
     transform: translateY(0); 
}


.bunnystill img {
    left: 0;
    width: 100%;
}

}
